<div class="starter-template">
  <div class="row" style="text-align:center">
    <h3>Your name</h3>
  </div>
  <form class="" action="hello" method="post">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="input-group">
          <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Accept</button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
